# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask-related
instance/
.env
*.env
*.flaskenv

# PyInstaller
#  Usually contains the result of running PyInstaller
dist/
build/
*.spec

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp

# Logs and local database
*.log
*.sqlite3
*.db

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS files
.DS_Store

# Docker
*.pid
*.sock
docker-compose.override.yml
